<!-- app/views/weather/forecast.html.erb -->
<h1>Weather Forecast</h1>

<%= form_tag weather_forecast_path, method: :get do %>
  <%= label_tag :city, 'City:' %>
  <%= text_field_tag :city, params[:city] %>
  <%= submit_tag 'Search' %>
<% end %>
